table#table(style='width:100%')
  tbody
    tr
      th Id
      th url
      th Nama Barang
      th Unit Price
      th Action
      each item in rows
        tr
          td=item.id
          td=item.data.product.url
          td=item.data.product.name
          td=item.data.product.unit_price
          td
            button#pencarian(value=item.uuid, data-id=item.uuid) pencarian

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script.
      $(document).ready( function() {
        $( "#table" ).on( "click", "#pencarian", function() {
          let id =  $( this ).data('id');
          location.href = '/?id='+id;
        });

      })