doctype html
html(lang='en')
  head
    title Test
  body
    button#history_page History
    h1 Masukan URL
    input#input_url(type='text')
    button#btn_searh Search
    h1#waiting(style='display:none')
    h1#id(style='display:none')
    h1#product_name(style='display:none')
    h1#harga(style='display:none')
    #container.col
      img#img(style='display:none;width:100%;height:100%')
      #more_image(style='display:none;width:100%;height:100%')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script.
      $(document).ready( function() {

         $('#history_page').click(function(){
        location.href ='/history';
        })


         if ('#{id}' !== ''){

           $('#waiting').text('Waiting...')
          $('#waiting').css('display','block')
          $('#product_name').css('display','none')
          $('#id').css('display','none')
          $('#harga').css('display','none')

          get_data_database('#{id}')

        }


      $('#btn_searh').click(function(){

        let input_url = $('#input_url').val()
        $('#waiting').text('Waiting...')
        $('#waiting').css('display','block')
        $('#product_name').css('display','none')
        $('#id').css('display','none')
        $('#harga').css('display','none')
        get_data(input_url)
      })


      function get_data(input_url){
          $.ajax({
          url: "/api",
          data : {url : input_url},
          success: function(data){
          product_id = data.id
          data = data.data;
          get_more_image(product_id);
          $('#product_name').text('Nama Product : '+data.product.name)
          $('#product_name').css('display','block')
          $('#id').text('Id : '+data.product.id)
          $('#id').css('display','block')
          $('#harga').text('Harga : '+data.product.unit_price + '['+data.product.currency+']')
          $('#harga').css('display','block')
          $("#img").attr("src",data.product.product_image_url);
          $('#img').css('display','block')
          $('#waiting').css('display','none')
          }
          });
      }

      function get_data_database(uuid){
        //- console.log(uuid)
          $.ajax({
          url: "/api_database",
          data : {uuid : uuid},
          success: function(data){
            //- console.log(data.data.data.product)
            product_id = data.id
            data = data.data.data;
            get_more_image(product_id);
            $('#product_name').text('Nama Product : '+data.product.name)
            $('#product_name').css('display','block')
            $('#id').text('Id : '+data.product.id)
            $('#id').css('display','block')
            $('#harga').text('Harga : '+data.product.unit_price + '['+data.product.currency+']')
            $('#harga').css('display','block')
            $("#img").attr("src",data.product.product_image_url);
            $('#img').css('display','block')
            $('#waiting').css('display','none')
          }
          });
      }


      function get_more_image(id){
      $('#more_image').text('')
        
      $.ajax({
      url: "/more_image",
      data:{product_id : id},
      success: function(data){
      $.each(data.gallery, function( index, value ) {
      //- console.log(index)
      //- console.log(value)
      $('#more_image').append('<img src='+value.medium+'>')
      });
      $('#more_image').css('display','block')
      }
      });
      }
      });
