doctype html
html(lang='en')
  head
    title Test
  body
    h1#message
    h1 Product Name = #{product.name}
    h1 Harga = #{product.unit_price}[#{product.currency}]
    #container.col
      img(src='#{product.product_image_url}')

block append head
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script.
    $(document).ready( function() {
      //- $.ajax({
      //-   url: 'https://fabelio.com/insider/data/product/id/11418',
      //-   success: function(data) {
      //-     window.insider_object = $.extend({}, window.insider_object, JSON.parse(data));
      //-   },
      //-   type: 'GET'
      //- });
    });